.home {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.home button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.home input {
  width: 90%;
}
