.items-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type='checkbox']:checked + label {
  opacity: 0.5;
  text-decoration: line-through;
}
.add-item button {
  cursor: pointer;
  width: 100px;
  height: 25px;
  margin-top: 30px;
}

.delete-button {
  margin-left: 5px;
}
