:root {
  --checked-default: #d1d5db;
  --checked-dark: #047857;
  --checked-middle: #10b981;
  --checked-light: #6ee7b7;
  --text-light: #f3f4f6;
  --text-dark: #111827;
}

@tailwind base;
@tailwind components;

.home-btn {
  @apply bg-white  text-gray-900 w-40 py-2 font-light shadow-hover hover:text-gray-100 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50;
}

.nav-btn {
  @apply bg-green-600 text-gray-100 w-40 py-3 my-3 flex items-center rounded-lg justify-center shadow-bottom font-light hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50;
}

.add-btn {
  @apply bg-green-600 text-gray-100 w-40 py-3 mt-8 hover:shadow-hover text-center rounded-lg shadow-bottom font-light hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-50;
}

.input {
  @apply w-full py-3 px-2 border border-gray-400 rounded-lg focus:bg-yellow-100 placeholder-gray-400 focus:ring-2 focus:ring-yellow-400 focus:border-transparent outline-none text-gray-900;
}

input[type='checkbox']:checked + label {
  text-decoration: line-through;
  opacity: 0.93;
}

@tailwind utilities;
